{% extends "../base.twig" %}

{% set title = (user.fullName) %}
{% set hideHeader = true %}

{% block stylesheets %}
    <link href="/webjars/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <link href="/webjars/ttskch__select2-bootstrap4-theme/1.4.0/dist/select2-bootstrap4.min.css" rel="stylesheet"/>
    <link href="/webjars/AdminLTE/3.0.5/plugins/daterangepicker/daterangepicker.css" rel="stylesheet"/>


    <link href="/webjars/AdminLTE/3.0.5/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/webjars/AdminLTE/3.0.5/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
          rel="stylesheet">

    <style>
        {% for holiday in holidayList %}
        .holiday{{ holiday.id }}:before {
            content: "{{ holiday.name }}";
            position: absolute;

            /* vertically center */
            top: 50%;
            transform: translateY(-50%);

            /* move to right */
            left: 100%;
            margin-left: 15px; /* and add a small left margin */

            /* basic styles */
            /*width:200px;*/
            padding: 10px;
            border-radius: 10px;
            background: #000;
            color: #fff;
            text-align: center;

            display: none; /* hide by default */
        }

        .holiday{{ holiday.id }}:hover:before {
            display: block;
        }

        {% endfor %}

        {% for userTimeOffLog in userTimeOffLogsArrayList %}
        .userTimeOffLog{{ userTimeOffLog.date }}:before {
            content: "{{ userTimeOffLog.text }}";
            position: absolute;

            /* vertically center */
            top: 50%;
            transform: translateY(-50%);

            /* move to right */
            left: 100%;
            margin-left: 15px; /* and add a small left margin */

            /* basic styles */
            /*width:200px;*/
            padding: 10px;
            border-radius: 10px;
            background: #000;
            color: #fff;
            text-align: center;

            display: none; /* hide by default */
        }

        {#.userTimeOffLog{{ userTimeOffLog.date }} {#}
        {#    pointer-events: none;#}
        {#}#}

        .userTimeOffLog{{ userTimeOffLog.date }}:hover:before {
            display: block;
        }

        {% endfor %}
    </style>
{% endblock %}

{% block javascripts %}
    <script src="/webjars/select2/4.0.13/js/select2.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/moment/moment-with-locales.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/moment/locale/ro.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/daterangepicker/daterangepicker.js"></script>


    <script src="/webjars/AdminLTE/3.0.5/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script src="/assets/js/userForm.js"></script>
    <script>
        let holidays = {{ holidayListJson }},
            userTimeOffLogs = {{ userTimeOffLogsJson }};
    </script>
    <script src="/assets/js/addUserTimeOffModal.js"></script>

    <script>
        $('#timeOffLogList').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": true,
            "responsive": false,
            "language": {
                url: "/assets/datatables_translation/Romanian.json"
            }
        });

        $(document).ready(function () {
            $('.deleteUserTimeOffLog').on('click', function () {
                let id = $(this).attr('data-userTimeOffLogId');

                Swal.fire({
                    title: 'Esti sigur(a) ca vrei sa stergi aceasta cerere?',
                    text: "Dupa stergere, aceasta cerere nu va mai putea fi folosita.",
                    icon: 'warning',
                    iconColor: '#dc3545',
                    confirmButtonColor: '#dc3545',
                    showCancelButton: true,
                    confirmButtonText: 'Da, sterge cererea!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "DELETE",
                            url: '/time-off/delete/' + id,
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data) {
                                Swal.fire(
                                    'Am reusit!',
                                    'Cererea a fost stearsa din sistem!',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            },
                            error: function (data) {
                                Swal.fire(
                                    'Eroare',
                                    data.responseJSON.message,
                                    'error'
                                );
                            }
                        });
                    }
                })
            });

            $('#saveUser').on('click', function () {
                let data = {
                    'id': {{ user.id }},
                    'email': $('#email').val(),
                    'fullName': $('#fullName').val(),
                    // 'image': $('#image').val(),
                    'responsibleUser': $('#responsibleUser').val(),
                    'role': $('#role').val(),
                    'job': $('#job').val(),
                    'team': $('#team').val(),
                    'hireDate': $('#hireDate').val(),
                };

                $.ajax({
                    type: "POST",
                    url: '/user/update',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (data) {
                        Swal.fire(
                            'Good job!',
                            'Informatiile angajatului au fost modificate!',
                            'success'
                        ).then(() => {
                            window.location.reload();
                        });
                    },
                    error: function (data) {
                        Swal.fire(
                            'Eroare',
                            data.responseJSON.message,
                            'error'
                        );
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img alt="User profile picture"
                                 class="profile-user-img img-fluid img-circle"
                                 src="{{ user.image }}">
                        </div>

                        <h3 class="profile-username text-center">{{ user.fullName }}</h3>

                        <p class="text-muted text-center">{{ user.job.name }}</p>

                        <div class="row">
                            <div class="col-12 text-center font-weight-bold">Zile disponibile</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">CO</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ holidayCurrentDays }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">#WFH</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ wfhCurrentDays }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-success btn-block" data-target="#modal-add-user-time-off"
                                data-toggle="modal">
                            <i class="fas fa-plus"></i> Aduaga un eveniment
                        </button>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Info</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-users"></i> Echipa</strong>

                        <p class="text-muted">
                            {{ user.team.name }}
                        </p>

                        <hr>

                        <strong><i class="fas fa-people-arrows"></i> Responsabil</strong>

                        <p class="text-muted">{{ user.responsibleUser.fullName }}</p>

                        <hr>

                        <strong><i class="fas fa-glass-cheers"></i> Colegi</strong>

                        <p class="text-muted">
                            {% for colleague in user.getColleagues %}
                                {{ coleague.fullName }}
                                <br>
                            {% endfor %}
                        </p>

                        <hr>

                        <strong><i class="fas fa-calendar-alt"></i> In firma din</strong>

                        <p class="text-muted">
                            {{ user.getHireDateAsString }}
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                    href="#info">Informatii</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                    href="#documents">Documente</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                    href="#settings">Setari</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="info">
                                {% include "userInfo.twig" %}
                            </div>
                            <div class="tab-pane" id="documents">
                            </div>
                            <div class="tab-pane" id="settings">
                                {% include "userForm.twig" %}

                                <div class="row mt-3">
                                    <div class="col-12 text-right">
                                        <button class="btn btn-success" id="saveUser">
                                            <i class="fas fa-save"></i> Salveaza modificarile
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "../timeOff/addUserTimeOffModal.twig" %}
{% endblock %}