<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Informatii generale</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="email">Adresa email</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="email" required
                               {% if user is not empty %}value="{{ (user.email|split('@'))[0] }}"{% endif %}>
                        <div class="input-group-append">
                            <span class="input-group-text">@{{ loggedUser.company.emailDomain }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullName">Nume complet</label>
                    <input class="form-control" id="fullName" type="text" required
                           {% if user is not empty %}value="{{ user.fullName }}"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="image">Poza (Coming soon)</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" disabled>
                        <label class="custom-file-label" for="image">Alege o poza a angajatului</label>
                    </div>
                </div>

                {% if user is not empty %}
                    <div class="form-group">
                        <label for="resetPassword">Parola</label>
                        <button type="button" class="form-control btn btn-danger" id="resetPassword"><i
                                    class="fas fa-undo"></i> Reseteaza parola
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Pozitie in companie</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="team">Echipa</label>
                    <select class="form-control" name="team" id="team" required>
                        {% for team in allTeams %}
                            <option {% if ((user is not empty) and (user.team.id == team.id)) %}selected{% endif %}>{{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="responsibleUser">Responsabil</label>
                    <select class="form-control" name="responsibleUser" id="responsibleUser" required>
                        {% for activeUser in allUsers %}
                            <option value="{{ activeUser.id }}"
                                    {% if ((user is not empty) and (user.responsibleUser.id == activeUser.id)) %}selected{% endif %}>{{ activeUser.fullName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="role">Rol</label>
                    <select class="form-control" name="role" id="role" required>
                        {% for role in allRoles %}
                            <option value="{{ role.id }}"
                                    {% if ((user is not empty) and (user.role.id == role.id)) %}selected{% endif %}>{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="job">Pozitie</label>
                    <select class="form-control" name="job" id="job" required>
                        {% for job in allJobs %}
                            <option {% if ((user is not empty) and (user.job.id == job.id)) %}selected{% endif %}>{{ job.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="hireDate">Data angajare</label>
                    <input type="text" id="hireDate" autocomplete="off" class="form-control"
                           placeholder="Data angajare"
                           name="hireDate" {% if user is not empty %}value="{{ user.getHireDateAsString }}"{% endif %}>
                </div>
            </div>
        </div>
    </div>
</div>