{% extends "base.twig" %}
{% set title = "EZ Dashboard" %}

{% block stylesheets %}
    <link href="/webjars/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <link href="/webjars/ttskch__select2-bootstrap4-theme/1.4.0/dist/select2-bootstrap4.min.css" rel="stylesheet"/>
    <link href="/webjars/AdminLTE/3.0.5/plugins/daterangepicker/daterangepicker.css" rel="stylesheet"/>
    <style>
        {% for holiday in holidayList %}
        .holiday{{ holiday.id }}:before {
            content: "{{ holiday.name }}";
            position: absolute;

            /* vertically center */
            top: 50%;
            transform: translateY(-50%);

            /* move to right */
            left: 100%;
            margin-left: 15px; /* and add a small left margin */

            /* basic styles */
            /*width:200px;*/
            padding: 10px;
            border-radius: 10px;
            background: #000;
            color: #fff;
            text-align: center;

            display: none; /* hide by default */
        }

        .holiday{{ holiday.id }}:hover:before {
            display: block;
        }

        {% endfor %}

        {% for userTimeOffLog in userTimeOffLogsArrayList %}
        .userTimeOffLog{{ userTimeOffLog.date }}:before {
            content: "{{ userTimeOffLog.text }}";
            position: absolute;

            /* vertically center */
            top: 50%;
            transform: translateY(-50%);

            /* move to right */
            left: 100%;
            margin-left: 15px; /* and add a small left margin */

            /* basic styles */
            /*width:200px;*/
            padding: 10px;
            border-radius: 10px;
            background: #000;
            color: #fff;
            text-align: center;

            display: none; /* hide by default */
        }

        {#.userTimeOffLog{{ userTimeOffLog.date }} {#}
        {#    pointer-events: none;#}
        {#}#}

        .userTimeOffLog{{ userTimeOffLog.date }}:hover:before {
            display: block;
        }

        {% endfor %}
    </style>
{% endblock %}

{% block javascripts %}
    <script src="/webjars/select2/4.0.13/js/select2.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/moment/moment-with-locales.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/moment/locale/ro.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/daterangepicker/daterangepicker.js"></script>
    <script>
        let holidays = {{ holidayListJson }},
            userTimeOffLogs = {{ userTimeOffLogsJson }};
    </script>
    <script src="/assets/js/addUserTimeOffModal.js"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success btn-sm" data-target="#modal-add-user-time-off" data-toggle="modal"><i
                            class="fas fa-plus"></i> Aduaga un eveniment
                </button>
            </div>
        </div>
        <div class="row holidays-widgets-row mt-3">
            <div class="col-3">
                <div class="small-box {% if holidayCurrentDays > 0 %}bg-gradient-lightblue{% else %}bg-gradient-danger{% endif %}">
                    <div class="inner">
                        <h3>{{ holidayCurrentDays }} zile</h3>

                        <p>Concediu odihna</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-plane-departure"></i>
                    </div>
                    <a href="#" class="small-box-footer" data-target="#modal-add-user-time-off" data-toggle="modal">
                        Concediu nou <i class="fas fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="small-box {% if wfhCurrentDays > 0 %}bg-gradient-orange text-white{% else %}bg-gradient-danger{% endif %}">
                    <div class="inner">
                        <h3>{{ wfhCurrentDays }}</h3>

                        <p>Munca de acasa #WFH</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        #WFH time <i class="fas fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include "timeOff/addUserTimeOffModal.twig" %}
{% endblock %}