{% extends "../base.twig" %}

{% set title = (user.fullName) %}
{% set hideHeader = true %}

{% block stylesheets %}
    <link href="/webjars/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
    <link href="/webjars/ttskch__select2-bootstrap4-theme/1.4.0/dist/select2-bootstrap4.min.css" rel="stylesheet"/>
    <link href="/webjars/AdminLTE/3.0.5/plugins/daterangepicker/daterangepicker.css" rel="stylesheet"/>
    <link href="/webjars/AdminLTE/3.0.5/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/webjars/AdminLTE/3.0.5/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"
          rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="/webjars/select2/4.0.13/js/select2.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/moment/moment-with-locales.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/moment/locale/ro.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="/webjars/AdminLTE/3.0.5/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/webjars/AdminLTE/3.0.5/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $('#saveCompany').on('click', function () {
            let data = {
                'emailDomain': $('#emailDomain').val(),
                'name': $('#name').val()
            };

            $.ajax({
                type: "POST",
                url: '/company/update',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    Swal.fire(
                        'Good job!',
                        'Informatiile companiei tale au fost modificate!',
                        'success'
                    ).then(() => {
                        window.location.reload();
                    });
                },
                error: function (data) {
                    Swal.fire(
                        'Eroare',
                        data.responseJSON.message,
                        'error'
                    );
                }
            });
        });

        $('#rulesTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            // "autoWidth": false,
            "responsive": true,
            "language": {
                url: "/assets/datatables_translation/Romanian.json"
            }
        });

        $('#modal-add-rule').on('show.bs.modal', function () {
            $('#action').select2({
                theme: 'bootstrap4',
                minimumResultsForSearch: -1
            });
            $('#timeOff').select2({
                theme: 'bootstrap4',
            });
            $('#executionMoment').select2({
                theme: 'bootstrap4',
                minimumResultsForSearch: -1
            });
            $('#certainUsersList').select2({
                theme: 'bootstrap4',
            });
        });

        $('#saveCompanyRule').on('click', function () {
            let data = {
                'ruleId': $('#ruleId').val(),
                'timeOffId': $('#timeOff').val(),
                'action': $('#action').val(),
                'daysNumber': $('#daysNumber').val(),
                'executionMoment': $('#executionMoment').val(),
                'cumulateYears': $('#cumulateYears').is(':checked'),
            };

            if ($("#certainUsers").is(':checked')) {
                data['userIds'] = $('#certainUsersList').val();
            }

            $.ajax({
                type: "POST",
                url: '/company/update-rules',
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    Swal.fire(
                        'Good job!',
                        'Informatiile companiei tale au fost modificate!',
                        'success'
                    ).then(() => {
                        window.location.reload();
                    });
                },
                error: function (data) {
                    Swal.fire(
                        'Eroare',
                        data.responseJSON.message,
                        'error'
                    );
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img alt="User profile picture"
                                 class="profile-user-img img-fluid img-circle"
                                 src="{{ company.logo }}">
                        </div>

                        <h3 class="profile-username text-center">{{ company.name }}</h3>

                        <p class="text-muted text-center">@{{ company.emailDomain }}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Nr. angajati</b> <a class="float-right">{{ company.users.size }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>#WFH{{ "now"|date("MMMM") }}</b> <a class="float-right">10</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Info</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-user-tie"></i> CEO</strong>

                        <p class="text-muted">
                            {% for ceo in company.getCEOUsers %}
                                {{ ceo.fullName }}
                                <br>
                            {% endfor %}
                        </p>

                        <hr>

                        <strong><i class="fas fa-users"></i> HR</strong>

                        <p class="text-muted">
                            {% for ceo in company.getHRUsers %}
                                {{ ceo.fullName }}
                                <br>
                            {% endfor %}
                        </p>

                        <hr>

                        <strong><i class="fas fa-glass-cheers"></i> Colegi</strong>

                        <p class="text-muted">
                            {% for coleague in user.responsibleUser.responsibleForUsers %}
                                {% if coleague.id != user.id %}
                                    {{ coleague.fullName }}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </p>

                        <hr>

                        <strong><i class="fas fa-calendar-alt"></i> In firma din</strong>

                        <p class="text-muted">
                            {{ user.getHireDateAsString }}
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                    href="#info">Informatii</a>
                            </li>
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                    href="#companyRules">Reguli</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab"
                                                    href="#settings">Setari</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="info">
                            </div>
                            <div class="tab-pane active" id="companyRules">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="callout callout-info text-muted">
                                            <p>
                                                Aici se vor seta toate regulile de acordare a zilelor de concediu
                                                platite.
                                            </p>
                                            <p>
                                                Daca nu se va seta o regula pentru un anumit tip de zi,
                                                angajatii vor putea inregistra oricate zile din acel tip, ramanand ca
                                                eventuala verificare a depasirii numarului sa fie facuta manual de catre
                                                echipa de HR!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-striped" id="rulesTable">
                                            <thead>
                                            <tr>
                                                <th>
                                                    Actiune
                                                </th>
                                                <th class="text-center">
                                                    Nr zile
                                                </th>
                                                <th>
                                                    Tip zile
                                                </th>
                                                <th>
                                                    Momentul activarii
                                                </th>
                                                <th>
                                                    Optiuni avansate
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for companyRule in company.companyRules %}
                                                <tr>
                                                    <td>
                                                        {% if companyRule.action == 1 %}
                                                            Se adauga
                                                        {% else %}
                                                            Se seteaza
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ companyRule.daysNumber }}
                                                    </td>
                                                    <td>
                                                        {{ companyRule.timeOff.name }}
                                                    </td>
                                                    <td>
                                                        {% if companyRule.executionMoment == 1 %}
                                                            La inceputul fiecarui an
                                                        {% else %}
                                                            La inceputul fiecarei luni
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            {% if companyRule.cumulateYears %}
                                                                <li>Se acorda cate {{ companyRule.daysNumber }} zi(le)
                                                                    pentru fiecare an petrecut in firma.
                                                                </li>
                                                            {% endif %}

                                                            {% if companyRule.users is empty %}
                                                                <li>Se aplica tuturor angajatilor
                                                                    din {{ companyRule.company.name }}.
                                                                </li>
                                                            {% else %}
                                                                <li>Se aplica urmatorilor angajati:

                                                                    <ul>
                                                                        {% for user in companyRule.users %}
                                                                            <li>{{ user.fullName }}</li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button class="btn btn-success" data-target="#modal-add-rule"
                                                data-toggle="modal" type="button">
                                            <i class="fas fa-plus"></i> Adauga regula noua
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="settings">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Nume firma</label>
                                        <input type="text" class="form-control" id="name" required
                                               {% if company is not empty %}value="{{ company.name }}"{% endif %}>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="w-100">
                                            <label for="email">
                                                Domeniu email
                                            </label>
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">@</span>
                                            </div>
                                            <input type="text" class="form-control" id="emailDomain" required
                                                   {% if company is not empty %}value="{{ company.emailDomain }}"{% endif %}>
                                            <small id="emailDomainHelp" class="form-text text-muted">
                                                <i class="fas fa-exclamation-triangle"></i> Modificarea acestui camp va
                                                duce la MODIFICAREA TUTUROR email-urilor angajatilor {{ company.name }}
                                                si delogarea acestora!
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 text-right">
                                        <button class="btn btn-success" id="saveCompany">
                                            <i class="fas fa-save"></i> Salveaza modificarile
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-add-rule">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Adauga o regula noua</h4>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="accordion">
                        <input class="d-none" id="ruleId" type="text" value="">
                        <dl class="row">
                            <dt class="col-sm-4"><label for="action">Actiunea dorita</label></dt>
                            <dd class="col-sm-8">
                                <select class="form-control" id="action">
                                    <option value="1">Se adauga</option>
                                    <option value="2">Se seteaza</option>
                                </select>
                            </dd>

                            <dt class="col-sm-4"><label for="daysNumber">Numar zile</label></dt>
                            <dd class="col-sm-8">
                                <div class="input-group">
                                    <input class="form-control" id="daysNumber" type="number" min="1" placeholder="21">
                                    <div class="input-group-append">
                                        <div class="input-group-text">zi(le)</div>
                                    </div>
                                </div>
                            </dd>

                            <dt class="col-sm-4">Tip</dt>
                            <dd class="col-sm-8">
                                <select class="form-control" id="timeOff">
                                    {% for timeOff in timeOffList %}
                                        <option value="{{ timeOff.id }}">{{ timeOff.name }}</option>
                                    {% endfor %}
                                </select>
                            </dd>

                            <dt class="col-sm-4">Cand se executa regula</dt>
                            <dd class="col-sm-8">
                                <select class="form-control" id="executionMoment">
                                    <option value="1">La inceputul fiecarui an</option>
                                    <option value="2">La inceputul fiecarei luni</option>
                                </select>
                            </dd>

                            <dt class="col-sm-4">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"
                                   aria-expanded="false">
                                    Optiuni avansate...
                                </a>
                            </dt>
                            <dd class="col-sm-8">
                                <div id="collapseOne" class="panel-collapse in collapse" style="">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="cumulateYears">
                                                <label class="form-check-label" for="cumulateYears">
                                                    Pentru fiecare an petrecut in firma
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="certainUsers">
                                                <label class="form-check-label" for="certainUsers">
                                                    Se aplica numai urmatoarelor persoane:
                                                </label>
                                                <select class="form-control" id="certainUsersList" multiple="multiple"
                                                        title="Lista useri">
                                                    {% for user in loggedUser.company.users %}
                                                        <option value="{{ user.id }}">{{ user.fullName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Inchide</button>
                        <button class="btn btn-primary" type="button" id="saveCompanyRule">Salveaza regula</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}